<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
      <section name="sampleSection"
               type="System.Configuration.SingleTagSectionHandler" />
	</configSections>
	
	<sampleSection setting1="Value1" setting2="value two" 
                  setting3="third value" />

	<appSettings>
        <add key="CopyrightNotice" value="Copyright 2004-2005 Jim Wiese.  All Rights Reserved" />
    </appSettings>
    
    
</configuration>